body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #cce6ff;
  color: #000;
  scroll-behavior: smooth;
}

/*header*/
.header {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  background: #003366;
  padding: 20px 10px;
  color: white;
  font-family: Arial, sans-serif;
}

.header-left {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 20px;
}

.header-left h1 {
  margin: 0 0 10px 0;
}

/*
.photo-wrapper {
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}
*/
.photo-wrapper {
  width: max-content;        
  margin: 0 auto;            
  display: flex;
  justify-content: center;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

.separator {
  width: 2px;
  background: white;
  margin: 0 20px;
}

.header-right {
  flex: 1;
}

.header-right h2,
.header-right p,
.contact-header a {
  color: white;
}


/*version 1
.header {
  text-align: center;
  padding: 40px 20px;
  background: #003366;
  color: white;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin: 15px 0;
}

.header h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.accroche {
  max-width: 800px;
  margin: 0 auto 15px auto;
}

.contact-header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
}

.contact-header a:hover {
  text-decoration: underline;
}
*/


/* Competences */
#skills {
  max-width: 1000px;      
  margin: 40px auto;       
  padding: 0 20px;        
}


#skills h2 {
  font-size: 28px;
  color: #003366;
  margin-bottom: 20px;
  text-align: left;       
}


.skills-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.skills-card p {
  margin-bottom: 15px;
  line-height: 1.8;
  font-size: 16px;
  color: #000;
}

.skills-card p:last-child {
  margin-bottom: 0;
}


/* Projets */
#projects {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}


#projects h2 {
  font-size: 28px;
  color: #003366;
  margin-bottom: 20px;
  text-align: left;       
}


.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filters button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: #0073e6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover {
  background: #005bb5;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.project-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.6s ease;
}

.project-card.show {
  transform: translateY(0);
  opacity: 1;
}

.project-card h3 {
  margin-top: 10px;
  text-align: center;
}

.project-card p {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}
